@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<main>
    <div class="left-section">
        <div class="logo">
            <img class="logo-img" src="../image/Logo-FU-03.jpeg" alt="logo" />
        </div>
        <div class="login-content">
            <h1 class="title">Welcome back</h1>
            <h2 class="detail-title">
                Continue with Google or enter your details.
            </h2>
            <div class="google-btn">
                <div class="google-icon-wrapper">
                    <img class="google-icon"
                         src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                </div>
                <p class="btn-text"><b>Log in with google</b></p>
            </div>
            <div class="or">or</div>
            <form class="login-section-main" action="">
                <input type="text"
                       class="email-input"
                       id="email"
                       name="email"
                       placeholder="Email" />
                <input type="password"
                       id="password"
                       name="password"
                       class="password-input"
                       placeholder="Password" />
                <div class="main-for-check-box">
                    <p class="checkbox-content">
                        <input type="checkbox" id="test1" />
                        <label for="test1">Remember for 30 days</label>
                    </p>
                    <p class="forgot-password">
                        <span><a href="student_create_group.html">Forgot password</a></span>
                    </p>
                </div>
                <button type="submit" class="login-btn">Log in</button>
                <div class="account">
                    Don't have an account?
                    <span><a href="lecture.html">Sign up for free</a></span>
                </div>
            </form>
        </div>
    </div>
    <div class="right-section">
        <div class="main-picture">
            <img class="picture-cus" src="../image/HCM-scaled.jpeg" alt="hinh" />
        </div>
    </div>
</main>
